.add
{
  position: fixed;
  color:white;
  font-size: xxx-large;
  padding: 1%;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
}
.title-label
{
  text-align: center;
  color: black;
}
.title-input
{
  width: 96%;
}
.content-label
{
  color:black;
}
.content-input
{
  width: 100%;
  height: 60%;
}
.header
{
  margin-left: 3%;
  background-color: transparent;
}
.btn
{
  background-color: #F39465;
  width: 100%;
}
button
{
  background: transparent;
  color: #FFFFFF;
  border-color: white;
  width: 20%;
}
.form-inside
{
display: flex;
}
.form
{position: absolute;
margin-left: 40%;
}
